:root {
  --fz-lg: 18px;
  --fz-xl: 20px;

  --background-gray: #2a2a2a;
  --bg-color-beige: #fff8ed;
  --bg-color-beige-a: #fffcf7;
  --bg-color-light: #fff;
  --bg-color-darker: #dbdbdb;
  --bg-color-blue-light: #e8eaf6;
  --color-dark-gray: #2c2c2c;

  --link-color: #b40000;

  --page-bg: var(--bg-color-beige-a);
  --page-font-color: var(--color-dark-gray);
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--page-bg);
  color: var(--page-font-color);
  min-height: 100vh;
}

footer {
  font-size: 0.8em;
  padding-bottom: 2em;
  padding-left: 2em;
}

a {
  color: var(--link-color);
  border-bottom: 1px solid var(--link-color);
  font-weight: 600;

  &:hover {
    background-image: url('../assets/line-wavy.svg');
    background-position: 0 100%;
    background-size: auto 3px;
    background-repeat: repeat-x;
    border-bottom: none;
  }
}

.about,
.work {
  color: var(--page-font-color);
}
