.section {
  &-container {
    padding: 4rem 0;
  }

  &__title {
    margin-bottom: 1em;
    font-size: 2em;
    color: #005981;
  }

  // &:nth-child(1) {
  //   align-self: flex-start;
  // }

  // &:nth-child(2) {
  //   align-self: flex-end;
  // }
}

.about {
  @media (min-width: 1024px) {
    &__inner {
      display: grid;
      grid-template-columns: 3fr 2fr;
      grid-gap: 50px;
    }
  }

  .section-container {
    padding-bottom: calc(4rem + 3.5%);
    background-color: #e1f5fe;
  }

  &__text {
    p {
      margin: calc(1em * 1.4) 0;
    }
  }

  &__image {
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    margin-top: 50px;

    @media (min-width: 1024px) {
      margin: unset;
      margin-left: auto;
    }
  }

  .img__container {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
}

.work {
  margin-top: -3.5%;

  .section-container {
    padding-bottom: calc(4rem + 3.5%);
    background-color: #f3e5f5;
  }

  &__list {
    .job:not(:last-child) {
      margin-bottom: 2em;
    }

    h3 {
      font-weight: 400;
      font-size: 1.5em;
    }

    .info {
      font-size: 0.9em;
      font-style: italic;
      display: flex;
      margin-bottom: 0.7em;

      &-first {
        margin-bottom: -0.1em;
      }
    }

    .location {
      margin-left: 2em;
      position: relative;

      &::before {
        content: '|';
        position: absolute;
        transform: translateX(-50%);
        left: -1em;
      }
    }
  }
}

.skills {
  margin-top: -3.5%;

  &__list {
    max-width: 40ch;

    li {
      position: relative;
    }

    li:not(:last-child) {
      margin-bottom: 0.5em;
    }

    li::before {
      content: '*';
      position: absolute;
      left: -1em;
    }
  }
}

.contact {
  align-self: center;

  &__info {
    margin-bottom: 3em;
  }

  .rolling-star {
    width: 100%;
    height: 100px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.top-curve {
  width: 100%;
  padding-bottom: 3.5%;
  position: relative;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
